<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{correlationId:-none}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="METRICS_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/metrics.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS},%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.loomgate.metrics" level="INFO" additivity="false">
        <appender-ref ref="METRICS_FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>